# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Environments
.env
.venv/
env/
venv/
tour_bot_env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store
